.partialheader {
	text-align: center;
	color:#1DFFAA;
	font-size: 50px;
	font-weight: bold;
	text-shadow: 1.5px 1.5px blue;
	font-family: Serif;
}

.topborder {
	background-image: url("header.jpg");
	background-color: blue;
	height: 300px;
	width: 1340px;
    margin:0;
    padding:0;
    
}

.rotate90 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    height: 300px;
    width: 1340px;
    margin:0;
    padding:0;
}


.font-face {
    font-family: 'TikiTropic';
  
    src: url('TikiTropic.ttf') format('truetype');
         
    font-weight: normal;
    font-style: normal;

}

body {
	font-family:Serif;
	color: black;
	
}

img.two {
    height: 50%;
    width: 50%;
  }



